<table class="table-bordered table-hover">
    <thead>
        <tr>
            <td>Nome</td>
            <td>Descrição</td>
            <td>Preço</td>
            <td>Quantidade</td>
            <td colspan="1"></td>
        </tr>
    </thead>
    <tbody>
        <% @produtos.each do |produto|  %>
            <tr>
                <td><%= produto.nome %></td>
                <td><%= produto.descricao %></td>
                <td><%= produto.preco %></td>
                <td><%= produto.quantidade %></td>
                <td><%= button_to "Remover", produto, method: :delete, class:"btn btn-danger",
                 data: {confirm: "Tem certeza que deseja remover o produto #{produto.nome}?"}  %></td>
            </tr>
        <% end %>
    </tbody>
</table>
